.navbar {
    /* background-color: var(--main-color); */
    position: sticky;
    width: 100%;
    padding: 10px 0px;
    top: 0;
    background-color: var(--white);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
    /* z-index: 1; */
}

.logo .img {
    width: 7rem;
}

.login-btn {
    margin-right: 15px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: black;
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
}

.cart .cart-icon {
    font-size: 1.4rem;
    color: black;
    margin-right: 5px;
    transform: scaleX(-1);
}

.cart-count {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
    position: absolute;
    top: -5px;
    right: -5px;
}


/* Smartphone styles here */
@media screen and (max-width: 480px) {
    /* .your-element {} */
}