.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.not-found-heading {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: #f44336;
    /* Choose a color that matches your website's theme */
}

.not-found-text {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.not-found-link {
    text-decoration: none;
    color: #2196f3;
    /* Choose a color that matches your website's theme */
    font-weight: bold;
}

.not-found-link:hover {
    text-decoration: underline;
}